:root {
  --white: #fcfcfc;
  --beige: beige;
  --black: #222;
  --gray-darker: #575757;
  --text: #999;
  --block-margin: 40px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
}

a {
  text-decoration: none;
}

/* Black Top  */
.top {
  width: 100%;
  height: 50px;
  background-color: var(--black);
}

/* Main */

main {
  max-width: 1200px;
  margin: auto;
  padding: 75px;
  background-color: var(--white);
  color: var(--gray-darker);
}


/*  Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: "Sofia Pro";
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  width: 100%;
  line-height: 1.2em;
  text-align: center;
}

header h1>* {
  text-decoration: none;
  color: var(--black);
}

header ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: var(--block-margin);
}

header li>* {
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "UNicod Sans";
  color: var(--text);
}

header a:hover {
  color: var(--black);
}


/* Main Content*/

.main-box {
  border-top: 1px solid var(--gray-darker);
  margin-top: var(--block-margin);
  padding-top: var(--block-margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.my-detail ul {
  margin-left: var(--block-margin);
  list-style-type: circle;
  list-style-position: outside;
  /* margin: var(--block-margin); */
}

.my-detail p {
  margin: 20px;
}

.intro {
  align-items: flex-start;
}

.main-box .title {
  padding-bottom: var(--block-margin);
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
  flex: 0 0 100%;
}

.main-box #my-photo {
  flex: 2;
  width: 200px;
}

.main-box .my-detail {
  flex: 8;
  padding-left: 30px;
  color: var(--text);
  font-size: 20px;
}

.main-box details {
  margin-bottom: 20px;
}


.main-box summary:hover {
  text-shadow: 0 0 1px var(--gray-darker);
  cursor: grab;
}

.main-box summary:active {
  cursor: grabbing;
}


/*  Work Part */
.work-box {
  flex: 0 0 45%;
  display: flex;
  margin-bottom: var(--block-margin);
  flex-wrap: wrap;
  justify-content: space-between;
}

.bigger-image {
  flex: 0 0 100%;
}

.bigger-image .bigger {
  flex: 0 0 100%;

}

.work-box h3 {
  flex: 0 0 100%;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 100;
}

.work-box img {
  flex: 0 0 100%;
  width: 100%;
  border-radius: 30px;
}

.work-box:hover img,
#my-photo:hover {
  opacity: 0.5;
  box-shadow: 0 0px 15px var(--gray-darker);
}

.work-box:hover p {
  text-shadow: 0 0 0.5px var(--gray-darker);
}

.work-box:hover h3 {
  text-shadow: 0 0 2px var(--gray-darker);
}

.work-box span {
  flex: 0 0 100%;
  margin-top: 40px;
  color: var(--text);
}


/*  Contact */
.contact {
  flex: 0 0 100%;
}

.contact ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 100%;
  font-size: 25px;
  color: var(--text);
}

.contact li>* {
  text-decoration: none;
  color: var(--text);
}

.contact li {
  padding-top: 30px;
}

#phone::before {
  content: '\260E';
  margin-right: 5px;
}

#email::before {
  content: '\2709';
}

footer {
  height: 50px;
  background-color: var(--black);
}


/* media query for smaller screens */
@media screen and (max-width: 992px) {

  header ul {
    flex-direction: column;
    align-items: center;
  }

  header li {
    margin: 30px 0;
  }


  .intro {
    flex-direction: column;
    align-items: center;
  }

  #my-photo {

    margin: 30px 0;
    min-width: 400px;
  }

  .my-detail {
    margin-top: 30px;
    min-width: 100%;

  }

  .work-box {
    flex: 0 0 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .work-box h3,
  .work-box span {
    flex: 0 0 100%;
  }

  .work-box a {
    width: 100%;
  }

  .contact ul {
    flex-wrap: wrap;
  }

  .contact ul li {
    flex: 0 0 100%;
    text-align: center;

  }
}